{{#models}}
{{#model}}
{{#isEnum}}
{{! enumならば列挙体として定義する }}
class {{classname}}(Enum):
    """
    {{#description}}
    {{{description}}}  # noqa: E501
    {{/description}}
    """

{{#allowableValues}}
{{#enumVars}}
    {{name}} = {{{value}}}{{^-last}}
{{/-last}}
{{/enumVars}}
{{/allowableValues}}

{{/isEnum}}
{{^isEnum}}
{{! enum以外ならばDictとして型ヒントを定義する }}
{{classname}} = Dict[str, Any]
"""
{{#description}}{{{description}}}{{/description}}
Kyes of Dict

{{#vars}}
* {{name}}: {{{dataType}}}
    {{#description}}{{{description}}} # noqa: E501{{/description}}
{{/vars}}

"""
{{/isEnum}}
{{/model}}

{{/models}}
