[flake8]
max-line-length = 120

# formatter 'black'と競合するため、チェックを無視する
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
extend-ignore = E203, W503

exclude = test_*.py

# Python3.12環境だとなぜか警告が出るので、一時的に無視する。将来的にflake8は捨ててruffに移行する予定なので、この設定はそのままにしておく。
ignore = W604, E231
