[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# setup.pyのinstall_requiresに記述

[dev-packages]
annofabapi = {editable = true,path = "."} # For reading setup.py
pytest = "*"
pytest-cov = "*"
tox = "*"
isort = "*"
yapf = "*"
mypy = "*"
flake8 = "*"
pylint = "*"
twine = "*"
sphinx = "==1.8.5"
autoflake = "*"
# バージョンの競合が発生しているので、一時的にバージョンを指定する
docutils = "<=0.15.0"
