# Only ASCII for Windows

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Refer to `install_requires` in setup.py

[dev-packages]
annofabapi = {editable = true,path = "."} # For reading setup.py
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
isort = "*"
yapf = "*"
mypy = "*"
flake8 = "*"
pylint = "*"
twine = "*"
# Match sphinx version at ReadTheDocs
sphinx = "==1.8.5"
autoflake = "*"
docutils = "*"
