[tool.poetry]
name = "annofabapi"
version = "0.68.0"
description = "Python Clinet Library of Annofab WebAPI (https://annofab.com/docs/api/)"
authors = ["yuji38kwmt"]
license = "MIT"
keywords=["annofab", "api"]
readme="README.md"
repository="https://github.com/kurusugawa-computer/annofab-api-python-client"
classifiers = [
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: MIT License",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Topic :: Utilities",
        "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.8"
requests = "*"
python-dateutil = "*"
backoff="*"
dataclasses-json="*"
more-itertools = "*"


[tool.poetry.dev-dependencies]
# test library
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

# format library
isort = "*"
autoflake = "*"
black = ">=23.1"

# lint library
flake8 = ">=5"
mypy = ">=1.0"
pylint = ">=2.16"

# document library
sphinx = "^6"
docutils = "*"
pydata-sphinx-theme = ">=0.13.0rc3"

# type stub package
types-requests = "*"
types-python-dateutil = "*"
types-dataclasses = "*"

ipython = "*"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
skip="annofabapi/__init__.py"

[tool.mypy]
# スタブが無いパッケージのエラーは無視させる.サードパーティのライブラリに型情報がないケースもあるため
ignore_missing_imports = true
# 型ヒントが付いていない関数もチェックする
check_untyped_defs = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

