[tool.poetry]
name = "annofabapi"
version = "0.53.0"
description = "Python Clinet Library of AnnoFab WebAPI (https://annofab.com/docs/api/)"
authors = ["yuji38kwmt"]
license = "MIT"
keywords=["annofab", "api"]
readme="README.md"
repository="https://github.com/kurusugawa-computer/annofab-api-python-client"
classifiers = [
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: MIT License",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Topic :: Utilities",
        "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.7"
requests = "*"
python-dateutil = "*"
backoff="*"
dataclasses-json="*"


[tool.poetry.dev-dependencies]
# test library
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

# テストコード用に追加
more-itertools = "*"

# format library
isort = "*"
autoflake = "*"
black = {version = "^21.12b0", allow-prereleases = true}

# lint library
flake8 = "*"
mypy = "*"
pylint = "*"

# document library
sphinx = "*"
docutils = "*"
pydata-sphinx-theme = "*"

# type stub package
types-requests = "*"
types-python-dateutil = "*"
types-dataclasses = { version = "*", python = "<3.7" }

ipython = "*"
# ipythonとjediの組み合わせによるバグを避けるため、バージョン指定
# https://zenn.dev/hige/articles/282bf79d47378e
jedi = "<0.18"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
skip="annofabapi/__init__.py"

[tool.mypy]
# スタブが無いパッケージのエラーは無視させる.サードパーティのライブラリに型情報がないケースもあるため
ignore_missing_imports = true
# 型ヒントが付いていない関数もチェックする
check_untyped_defs = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

