[tool.poetry]
name = "annofabapi"
version = "0.45.2"
description = "Python Clinet Library of AnnoFab WebAPI (https://annofab.com/docs/api/)"
authors = ["yuji38kwmt"]
license = "MIT"
keywords=["annofab", "api"]
readme="README.md"
repository="https://github.com/kurusugawa-computer/annofab-api-python-client"
classifiers = [
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "License :: OSI Approved :: MIT License",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3 :: Only",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Topic :: Utilities",
        "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.6.2"
requests = "*"
python-dateutil = "*"
backoff="*"
dataclasses-json="*"
dataclasses = { version = "*", python = "<3.7" }

[tool.poetry.dev-dependencies]
# test library
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

# テストコード用に追加
more-itertools = "*"

# format library
isort = "*"
autoflake = "*"
black = {version = "^21.5b1", allow-prereleases = true}

# lint library
flake8 = "*"
mypy = "*"
pylint = "*"

# document library
sphinx = "*"
docutils = "*"
pydata-sphinx-theme = "*"


[tool.black]
line-length = 120

[tool.isort]
line_length = 120
skip="annofabapi/__init__.py"
# blackの設定に合わせる
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
multi_line_output=3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

