openapi: "3.0.0"
info:
  description: |
    [AnnoFab](https://annofab.com) のWeb API, V2です。
    V1は[こちら](https://annofab.com/docs/api/)です。

    APIベースURL: https://annofab.com/api/v2<br>
    例） /projects というAPIを使う場合、 https://annofab.com/api/v2/projects をリクエストします。


    ■APIの変更ポリシー<br>
    **現在、APIは開発途上版です。予告なく互換性のない変更がある可能性をご了承ください。**
    ご要望の実現、あるいは、セキュリティやパフォーマンスの改善などを実現するにあたり、互換性のない変更が必要になる場合があります。
    その場合、開発途上版では開発リソースを改善に集中するため、古いバージョンを共存させずに互換性のない変更を行う場合があります。

    ■機能の要望や不具合報告 <br>
    「こんな機能が欲しい」というご要望や、「APIが予期せぬ動作をする」といった不具合報告などは、[こちらのお問い合わせフォーム](https://docs.google.com/forms/d/e/1FAIpQLSePryikS_wo_H11pxL2ewUe2d0ud0jxZlBQwH2rVVfcifKyQw/viewform)からご連絡ください。

    # API Convention

    ## 用語

    * **属性○○○を必須**とは、「JSONに属性キー○○○を含め、かつ、その値が`null`以外」であること
    * **属性○○○を未指定**とは、「JSONに属性キー○○○を含めない」または「属性○○○のキーはあるが値は`null`」のどちらかであること

    ## 更新系APIのリクエストボディに必須の属性

    * 更新系APIとは、HTTPメソッドが **PUT** または **POST** のAPIです。
    * 更新系APIでは、更新対象の「リソースの最終更新日」を必須とする場合があります。
      * これは、複数ユーザーからのAPIリクエストのデータ競合を避けるための、一般的なAPI設計慣習によるものです。
      * ここで「リソースの最終更新日」とは、`last_updated_datetime` または `updated_datetime` という名前の属性です。
      * 一部のAPIでは、操作対象リソースと別のリソースの最終更新日を必要とします。
        その場合は、`last_***_update_datetime` のような名前です（***には別リソースが入ります）。
      * **新規作成のとき**は、リクエストボディの「リソースの最終更新日」を未指定にします。
        * リソースがすでに作成されているときは、新規作成リクエストは失敗します。
      * **存在するリソースを更新または削除するとき**は、リクエストボディの「リソースの最終更新日」に、そのリソースの現在の`updated_datetime`を指定します。
        * 更新しようとしたリソースが存在しないとき、またはすでに更新されているときは、更新リクエストは失敗します。
    * 「リソースの最終更新日」以外の属性については、新規作成/更新それぞれで必須が異なる場合、API個別に特筆されています。

    ## APIのリクエストボディに指定する _type 属性について

    * 一部のAPIではリクエストボディに `_type` 属性を任意で指定することができます。
    * `_type` 属性を指定する場合は、`_type` 属性で指定された型にデコードします。
      例えば、`_type` 属性に `ByDirectory` を指定すると `TaskGenerateRuleByDirectory` にデコードされ、`Poliline` を指定すると `InspectionDataPolyline` にデコードされます。
      リクエストボディが誤っている場合はエラーになります。
    * `_type` 属性を指定しない場合は、リクエストボディで指定された `_type` 以外の属性からデコードすべき型を推論します。適切な型が見つからない場合はエラーになります。
    * `_type` 属性は「推論が失敗して別の型にデコードされる」ことを防ぐために指定することを推奨します。しかし利便性のため指定は必須ではありません。

  version: 0.56.0
  title: AnnoFab Web API
  x-logo:
    url: "https://annofab.com/images/logo_landscape.png"
    href: "https://annofab.com/"
  contact:
    url: "https://annofab.com/docs/forms/trouble-shooting.html"
servers:
- url: https://annofab.com/api/v2
tags:
- name: af-cache-v2
  description: キャッシュに関係
- name: af-project-v2
  description: プロジェクトに対する操作
- name: af-annotation-specs-v2
  description: アノテーション仕様に対する操作
- name: af-statistics-v2
  description: 統計
paths:
  /sign-url:
    get:
      tags:
      - af-cache-v2
      summary: Signed Cookieをもらう
      description: |
      security:
      - Everyone: []
      operationId: getSignedAccessV2
      parameters:
      - name: url
        in: query
        description: |
          アクセスしたいページのアドレス（クエリパラメータ含み）
        schema:
          type: string
          example: "/api/v2/projects/{project_id}/statistics/inspections"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: string
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/cache:
    get:
      tags:
      - af-project-v2
      summary: キャッシュレコード
      description: |
      security:
      - SignedCookie: []
      operationId: getProjectCacheV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                $ref: "./swagger-api-components.yaml#/components/schemas/CacheRecord"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/tasks:
    get:
      tags:
      - af-statistics-v2
      summary: タスク集計取得
      description: |
      security:
      - SignedCookie: []
      operationId: getTaskStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/ProjectTaskStatisticsHistory"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/accounts:
    get:
      tags:
      - af-statistics-v2
      summary: ユーザー別タスク集計取得
      description: |
      security:
      - SignedCookie: []
      operationId: getAccountStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/ProjectAccountStatistics"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/inspections:
    get:
      tags:
      - af-statistics-v2
      summary: 検査コメント集計取得
      description: |
      security:
      - SignedCookie: []
      operationId: getInspectionStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/InspectionStatistics"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/task-phases:
    get:
      tags:
      - af-statistics-v2
      summary: フェーズ別タスク集計取得
      description: |
      security:
      - SignedCookie: []
      operationId: getTaskPhaseStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/TaskPhaseStatistics"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/labels:
    get:
      tags:
      - af-statistics-v2
      summary: ラベル別アノテーション数集計取得
      description: |
      security:
      - SignedCookie: []
      operationId: getLabelStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/LabelStatistics"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/statistics/worktimes:
    get:
      tags:
      - af-statistics-v2
      summary: タスク作業時間集計取得
      description: |
        ヒストグラムは最終日のby_tasks、by_inputsでのみ返却する。
        アカウント毎の集計のby_tasks、by_inputsには、最終日であってもヒストグラムを返却しない。
      security:
      - SignedCookie: []
      operationId: getWorktimeStatisticsV2
      parameters:
      - name: project_id
        in: path
        description: プロジェクトID
        required: true
        schema:
          $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
      - name: cache
        in: query
        description: |
          CACHE TIMESTAMP
        required: false
        schema:
          type: string
          example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./swagger-api-components.yaml#/components/schemas/WorktimeStatistics"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
  /projects/{project_id}/annotation-specs:
    get:
      tags:
        - af-annotation-specs-v2
      summary: アノテーション仕様取得
      description: |
      security:
        - SignedCookie: []
      operationId: getAnnotationSpecsV2
      parameters:
        - name: project_id
          in: path
          description: プロジェクトID
          required: true
          schema:
            $ref: "./swagger-api-components.yaml#/components/schemas/ProjectId"
        - name: cache
          in: query
          description: |
            CACHE TIMESTAMP
          required: false
          schema:
            type: string
            example: "123456789"
      responses:
        200:
          description: 正常
          content:
            application/json:
              schema:
                $ref: "./swagger-api-components.yaml#/components/schemas/AnnotationSpecs"
        401:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnauthorizedApi"
        404:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorMissingResource"
        503:
          $ref: "./swagger-api-components.yaml#/components/responses/ErrorUnderMaintenance"
