name: Python tests and lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]


    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}        
          version: "0.9.11"
      - name: Install the project
        run: uv sync --all-extras
      - name: Test
        env:
          # 以下の環境変数がないとテストに失敗するため、ダミーの値を設定する
          ANNOFAB_PAT: "foo"
        run: |
            uv run pytest -n auto -m "not access_webapi"

          
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
          version: "0.9.11"
      - name: Install the project
        run: uv sync --all-extras
      - name: Lint
        run: |
            make lint
      
